<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>
    <div class="sidebar">
        <div class="logo"> 
            <img src="../img/Logo.png" alt="Computer Bucket">
        </div>
        <ul>
            <li><a href="admin.html">Product Management</a></li>
            <li><a href="#">User Information</a></li>
            <li>Order Management</li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">On Delivery</a></li>
        </ul>
    </div>

    <div class="content">
        <nav>
        <h2>Order List</h2>
        <img src="../img/profile.png" alt="profile" class="profile-pic" onclick="toggleMenu()">

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="../img/profile.png" alt="profile" class="profile-pic">
                        <h3>Admin</h3>
                    </div>
                    <hr>

                    <a href="#" class="sub-menu-link">
                        <img src="../img/profile.png" alt="profile">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../img/setting.png" alt="profile">
                        <p>settings & Privacy</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../img/help.png" alt="profile">
                        <p>Help & Support</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="../img/logout.png" alt="profile">
                        <p>logout</p>
                        <span>></span>
                    </a>
            </div>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>User Id</th>
                    <th>Customer Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Product name</th>
                    <th>Product Price</th>
                    <th>Product quantity</th>
                    <th>Total Price</th>
                    <th>Order Status</th>
                    <th>Ordered at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="productTable">
            </tbody>
        </table>
    </div>

    <script>
        let subMenu = document.getElementById('subMenu');

        function toggleMenu() {
            subMenu.classList.toggle('open-menu');
        }
    </script>
</body>
</html>